<% let a = 5 %>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/xuly" method="post">
      <input type="text" name="pheptinh" placeholder="Phep Tinh">
      <br><br>
      <input type="text" name="soa" placeholder="So a">
      <br><br>
      <input type="text" name="sob" placeholder="So b">
      <br><br>
      <input type="submit" value="Tinh">
    </form>
    <ul>
      <% mang.forEach( e => {%>
        <li><%= e %></li>
      <% }) %>
    </ul>
    
    <a href="#">Quan tri</a>

  </body>
</html>
